### Importaci√≥n de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

#1. An√°lisis de facturaci√≥n

In [2]:
# Sumamos el total de la columna 'Precio' para cada una de las 4 tiendas
total_t1 = tienda['Precio'].sum()
total_t2 = tienda2['Precio'].sum()
total_t3 = tienda3['Precio'].sum()
total_t4 = tienda4['Precio'].sum()

# Mostramos los resultados en pantalla con formato de dinero
print(f"Facturaci√≥n Total Tienda 1: ${total_t1:,.2f}")
print(f"Facturaci√≥n Total Tienda 2: ${total_t2:,.2f}")
print(f"Facturaci√≥n Total Tienda 3: ${total_t3:,.2f}")
print(f"Facturaci√≥n Total Tienda 4: ${total_t4:,.2f}")

# Comparamos para ver cu√°l es la mayor
facturacion_maxima = max(total_t1, total_t2, total_t3, total_t4)
print(f"\nüí° CONCLUSI√ìN: La mayor facturaci√≥n fue de ${facturacion_maxima:,.2f}")

Facturaci√≥n Total Tienda 1: $1,150,880,400.00
Facturaci√≥n Total Tienda 2: $1,116,343,500.00
Facturaci√≥n Total Tienda 3: $1,098,019,600.00
Facturaci√≥n Total Tienda 4: $1,038,375,700.00

üí° CONCLUSI√ìN: La mayor facturaci√≥n fue de $1,150,880,400.00

# 2. Ventas por categor√≠a

In [6]:
# PUNTO 2: Conteo de ventas por categor√≠a sin textos basura
print("--- 2. VENTAS POR CATEGOR√çA ---")

def mostrar_limpio(df, num_tienda):
    print(f"\nResultados Tienda {num_tienda}:")
    # Convertimos a DataFrame y le cambiamos el nombre a la columna para que se vea bien
    conteo = df['Categor√≠a del Producto'].value_counts().reset_index()
    conteo.columns = ['Categor√≠a', 'Cantidad de Ventas']
    print(conteo.to_string(index=False)) # El to_string(index=False) quita los n√∫meros de la izquierda

# Aplicamos la funci√≥n a cada tienda
mostrar_limpio(tienda, 1)
mostrar_limpio(tienda2, 2)
mostrar_limpio(tienda3, 3)
mostrar_limpio(tienda4, 4)

--- 2. VENTAS POR CATEGOR√çA ---

Resultados Tienda 1:
              Categor√≠a  Cantidad de Ventas
                Muebles                 465
           Electr√≥nicos                 448
               Juguetes                 324
      Electrodom√©sticos                 312
   Deportes y diversi√≥n                 284
 Instrumentos musicales                 182
                 Libros                 173
Art√≠culos para el hogar                 171

Resultados Tienda 2:
              Categor√≠a  Cantidad de Ventas
                Muebles                 442
           Electr√≥nicos                 422
               Juguetes                 313
      Electrodom√©sticos                 305
   Deportes y diversi√≥n                 275
 Instrumentos musicales                 224
                 Libros                 197
Art√≠culos para el hogar                 181

Resultados Tienda 3:
              Categor√≠a  Cantidad de Ventas
                Muebles                 499
           Electr√≥nicos                 451
               Juguetes                 315
      Electrodom√©sticos                 278
   Deportes y diversi√≥n                 277
                 Libros                 185
 Instrumentos musicales                 177
Art√≠culos para el hogar                 177

Resultados Tienda 4:
              Categor√≠a  Cantidad de Ventas
                Muebles                 480
           Electr√≥nicos                 451
               Juguetes                 338
   Deportes y diversi√≥n                 277
      Electrodom√©sticos                 254
Art√≠culos para el hogar                 201
                 Libros                 187
 Instrumentos musicales                 170

# 3. Calificaci√≥n promedio de la tienda

# 4. Productos m√°s y menos vendidos

# 5. Env√≠o promedio por tienda