### Importaci贸n de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor铆a del Producto,Precio,Costo de env铆o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci贸n,M茅todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr贸nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot谩,4,Tarjeta de cr茅dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell铆n,1,Tarjeta de cr茅dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr茅dito,1,10.39972,-75.51444
3,Microondas,Electrodom茅sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell铆n,5,Nequi,1,6.25184,-75.56359

#1. An谩lisis de facturaci贸n

In [9]:
# PUNTO 1: Sumamos el total de la columna 'Precio' para cada una de las 4 tiendas
total_t1 = tienda['Precio'].sum()
total_t2 = tienda2['Precio'].sum()
total_t3 = tienda3['Precio'].sum()
total_t4 = tienda4['Precio'].sum()

# Mostramos los resultados en pantalla con formato de dinero
print(f"Facturaci贸n Total Tienda 1: ${total_t1:,.2f}")
print(f"Facturaci贸n Total Tienda 2: ${total_t2:,.2f}")
print(f"Facturaci贸n Total Tienda 3: ${total_t3:,.2f}")
print(f"Facturaci贸n Total Tienda 4: ${total_t4:,.2f}")

# Comparamos para ver cu谩l es la mayor
facturacion_maxima = max(total_t1, total_t2, total_t3, total_t4)
print(f"\n CONCLUSIN: La mayor facturaci贸n fue de ${facturacion_maxima:,.2f}")

Facturaci贸n Total Tienda 1: $1,150,880,400.00
Facturaci贸n Total Tienda 2: $1,116,343,500.00
Facturaci贸n Total Tienda 3: $1,098,019,600.00
Facturaci贸n Total Tienda 4: $1,038,375,700.00

 CONCLUSIN: La mayor facturaci贸n fue de $1,150,880,400.00

# 2. Ventas por categor铆a

In [6]:
# PUNTO 2: Conteo de ventas por categor铆a sin textos basura
print("--- 2. VENTAS POR CATEGORA ---")

def mostrar_limpio(df, num_tienda):
    print(f"\nResultados Tienda {num_tienda}:")
    # Convertimos a DataFrame y le cambiamos el nombre a la columna para que se vea bien
    conteo = df['Categor铆a del Producto'].value_counts().reset_index()
    conteo.columns = ['Categor铆a', 'Cantidad de Ventas']
    print(conteo.to_string(index=False)) # El to_string(index=False) quita los n煤meros de la izquierda

# Aplicamos la funci贸n a cada tienda
mostrar_limpio(tienda, 1)
mostrar_limpio(tienda2, 2)
mostrar_limpio(tienda3, 3)
mostrar_limpio(tienda4, 4)

--- 2. VENTAS POR CATEGORA ---

Resultados Tienda 1:
              Categor铆a  Cantidad de Ventas
                Muebles                 465
           Electr贸nicos                 448
               Juguetes                 324
      Electrodom茅sticos                 312
   Deportes y diversi贸n                 284
 Instrumentos musicales                 182
                 Libros                 173
Art铆culos para el hogar                 171

Resultados Tienda 2:
              Categor铆a  Cantidad de Ventas
                Muebles                 442
           Electr贸nicos                 422
               Juguetes                 313
      Electrodom茅sticos                 305
   Deportes y diversi贸n                 275
 Instrumentos musicales                 224
                 Libros                 197
Art铆culos para el hogar                 181

Resultados Tienda 3:
              Categor铆a  Cantidad de Ventas
                Muebles                 499
           Electr贸nicos                 451
               Juguetes                 315
      Electrodom茅sticos                 278
   Deportes y diversi贸n                 277
                 Libros                 185
 Instrumentos musicales                 177
Art铆culos para el hogar                 177

Resultados Tienda 4:
              Categor铆a  Cantidad de Ventas
                Muebles                 480
           Electr贸nicos                 451
               Juguetes                 338
   Deportes y diversi贸n                 277
      Electrodom茅sticos                 254
Art铆culos para el hogar                 201
                 Libros                 187
 Instrumentos musicales                 170

# 3. Calificaci贸n promedio de la tienda

In [7]:
# PUNTO 3: Promedio de Calificaci贸n
print("--- 3. CALIFICACIN PROMEDIO ---")

print(f"Tienda 1: {tienda['Calificaci贸n'].mean():.2f} estrellas")
print(f"Tienda 2: {tienda2['Calificaci贸n'].mean():.2f} estrellas")
print(f"Tienda 3: {tienda3['Calificaci贸n'].mean():.2f} estrellas")
print(f"Tienda 4: {tienda4['Calificaci贸n'].mean():.2f} estrellas")

--- 3. CALIFICACIN PROMEDIO ---
Tienda 1: 3.98 estrellas
Tienda 2: 4.04 estrellas
Tienda 3: 4.05 estrellas
Tienda 4: 4.00 estrellas

# 4. Productos m谩s y menos vendidos

In [11]:
# PUNTO 4: Productos m谩s y menos vendidos con cantidades
print("--- 4. PRODUCTOS MS Y MENOS VENDIDOS ---")

mis_tiendas = [tienda, tienda2, tienda3, tienda4]

for i, df in enumerate(mis_tiendas, 1):
    # Obtenemos el conteo completo de productos
    conteo_productos = df['Producto'].value_counts()

    # Producto m谩s vendido y su cantidad
    mas_nombre = conteo_productos.idxmax()
    mas_cantidad = conteo_productos.max()

    # Producto menos vendido y su cantidad
    menos_nombre = conteo_productos.idxmin()
    menos_cantidad = conteo_productos.min()

    # Imprimimos con el formato profesional
    print(f"Tienda {i}:")
    print(f"   Producto m谩s vendido: '{mas_nombre}' ({mas_cantidad} unidades)")
    print(f"   Producto menos vendido: '{menos_nombre}' ({menos_cantidad} unidades)")
    print("-" * 50)

--- 4. PRODUCTOS MS Y MENOS VENDIDOS ---
Tienda 1:
   Producto m谩s vendido: 'Microondas' (60 unidades)
   Producto menos vendido: 'Auriculares con micr贸fono' (33 unidades)
--------------------------------------------------
Tienda 2:
   Producto m谩s vendido: 'Iniciando en programaci贸n' (65 unidades)
   Producto menos vendido: 'Juego de mesa' (32 unidades)
--------------------------------------------------
Tienda 3:
   Producto m谩s vendido: 'Kit de bancas' (57 unidades)
   Producto menos vendido: 'Bloques de construcci贸n' (35 unidades)
--------------------------------------------------
Tienda 4:
   Producto m谩s vendido: 'Cama box' (62 unidades)
   Producto menos vendido: 'Guitarra el茅ctrica' (33 unidades)
--------------------------------------------------

# 5. Env铆o promedio por tienda